<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.maggie.s4.board.qna.QnaDAO" >
	<select id="getList" parameterType="Pager" resultType="QnaDTO">
		SELECT * FROM
			(SELECT rownum R, N.* FROM
				(SELECT * FROM qna WHERE
				<choose>
					<when test="kind == 'tt'">title</when>
					<when test="kind == 'wr'">writer</when>
					<otherwise>contents</otherwise>
				</choose>
				like '%'||#{search}||'%' 
				ORDER BY num DESC
			) N
		) WHERE R BETWEEN #{startRow} AND #{lastRow}
		
	</select>
	<select id="getCount" parameterType="Pager" resultType="Long">
		SELECT COUNT(num) FROM qna
		WHERE 
			<choose>
				<when test="kind == 'tt'">title</when>
				<when test="kind == 'wr'">writer</when>
				<otherwise>contents</otherwise>
			</choose>
			like '%'||#{search}||'%'
	</select>

	<resultMap type="QnaDTO" id="getOneResult">
		<id column="num" property="num"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="contents" property="contents"/>
		<result column="regDate" property="regDate"/>
		<result column="hit" property="hit"/>
		<collection property="boardFileDTOs" ofType="BoardFileDTO" javaType="java.util.List">
			<id column="fileNum" property="fileNum"/>
			<result column="fileName" property="fileName"/>
			<result column="origName" property="origName"/>
		</collection>
	</resultMap>
	
	<select id="getOne" parameterType="QnaDTO" resultMap="getOneResult">
		SELECT Q.*, QF.*
		FROM qna Q LEFT JOIN qnaFile QF
		on Q.num = QF.num
		WHERE Q.num=#{num}
	</select>
	
	
	<insert id="setInsert" parameterType="QnaDTO">
		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
			SELECT qna_seq.NEXTVAL from dual
		</selectKey>
		INSERT INTO qna values(#{num}, #{title}, #{writer}, #{contents}, sysDate, 0, 0, 0, 0)
	</insert>

	<insert id="setInsertFile" parameterType="BoardFileDTO">
		INSERT INTO qnafile VALUES(qna_seq.NEXTVAL, #{num}, #{fileName}, #{origName})
	</insert>
	
	<insert id="setReply" parameterType="QnaDTO">
		INSERT INTO qna values(qna_seq.NEXTVAL, #{title}, #{writer}, #{contents}, sysDate, 0, #{ref}, #{step}, #{depth})
	</insert>
	
	<update id="setUpdate" parameterType="Pager">
		UPDATE qna SET title=#{title}, writer=#{writer},contents=#{contents}
		WHERE num=#{num}
	</update>
	<delete id="setDelete" parameterType="QnaDTO">
		DELETE FROM qna
		WHERE num=#{num}
	</delete>

</mapper>